# Vorbereitung der Daten

Dieses Notebook dient dazu die Daten so vorzuverarbeiten, dass sie für das Training der Modelle genutzt werden können.

Zunächst werden hierzu alle nötigen Imports getätigt.

In [37]:
import pandas as pd
import os
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

## Kombienieren der Trainings- und Testdaten

Dieser Schritt wurde getätigt, um die Daten im Anschluss in Trainings-, Test- und Validierungsdaten unterteilen zu können.

Zunächst werden hier die Trainings- und Testdaten eingelesen

In [38]:
train_data = pd.read_csv('../data/train_data.csv')
test_data = pd.read_csv('../data/test_data.csv')

,ID,Gender,Has a car,Has a property,Children count,Income,Employment status,Education level,Marital status,Dwelling,Age,Employment length,Has a mobile phone,Has a work phone,Has a phone,Has an email,Job title,Family member count,Account age,Is high risk
0,5037048,M,Y,Y,0,135000.0,Working,Secondary / secondary special,Married,With parents,-16271,-3111,1,0,0,0,Core staff,2.0,-17.0,0
1,5044630,F,Y,N,1,135000.0,Commercial associate,Higher education,Single / not married,House / apartment,-10130,-1651,1,0,0,0,Accountants,2.0,-1.0,0
2,5079079,F,N,Y,2,180000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-12821,-5657,1,0,0,0,Laborers,4.0,-38.0,0
3,5112872,F,Y,Y,0,360000.0,Commercial associate,Higher education,Single / not married,House / apartment,-20929,-2046,1,0,0,1,Managers,1.0,-11.0,0
4,5105858,F,N,N,0,270000.0,Working,Secondary / secondary special,Separated,House / apartment,-16207,-515,1,0,1,0,NaN,1.0,-41.0,0

Nun können diese beiden Dataframes in einen kombiniert werden.

In [39]:
combined_data = pd.concat([train_data, test_data], axis=0)
combined_data = combined_data.reset_index(drop=True)
combined_data.head()

,ID,Gender,Has a car,Has a property,Children count,Income,Employment status,Education level,Marital status,Dwelling,Age,Employment length,Has a mobile phone,Has a work phone,Has a phone,Has an email,Job title,Family member count,Account age,Is high risk
0,5037048,M,Y,Y,0,135000.0,Working,Secondary / secondary special,Married,With parents,-16271,-3111,1,0,0,0,Core staff,2.0,-17.0,0
1,5044630,F,Y,N,1,135000.0,Commercial associate,Higher education,Single / not married,House / apartment,-10130,-1651,1,0,0,0,Accountants,2.0,-1.0,0
2,5079079,F,N,Y,2,180000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-12821,-5657,1,0,0,0,Laborers,4.0,-38.0,0
3,5112872,F,Y,Y,0,360000.0,Commercial associate,Higher education,Single / not married,House / apartment,-20929,-2046,1,0,0,1,Managers,1.0,-11.0,0
4,5105858,F,N,N,0,270000.0,Working,Secondary / secondary special,Separated,House / apartment,-16207,-515,1,0,1,0,NaN,1.0,-41.0,0

Nun kann verifiziert werden, dass die Daten korrekt kombiniert wurden und noch alle Daten enthalten sind.

In [40]:
train_data.shape, test_data.shape, combined_data.shape

((29165, 20), (7292, 20), (36457, 20))

## Untersuchung des kombinierten Dataframes

Ausgabe einer Liste mit allen Spaltennamen.

In [41]:
combined_data.columns

Index(['ID', 'Gender', 'Has a car', 'Has a property', 'Children count',
       'Income', 'Employment status', 'Education level', 'Marital status',
       'Dwelling', 'Age', 'Employment length', 'Has a mobile phone',
       'Has a work phone', 'Has a phone', 'Has an email', 'Job title',
       'Family member count', 'Account age', 'Is high risk'],
      dtype='object')

Überprüfung auf fehlende Werte. Dabei fällt auf, dass die Spalte `Job title` fehlende Werte enthält.

In [42]:
combined_data.isnull().sum()

ID                         0
Gender                     0
Has a car                  0
Has a property             0
Children count             0
Income                     0
Employment status          0
Education level            0
Marital status             0
Dwelling                   0
Age                        0
Employment length          0
Has a mobile phone         0
Has a work phone           0
Has a phone                0
Has an email               0
Job title              11323
Family member count        0
Account age                0
Is high risk               0
dtype: int64

Die entscheidung fiel darauf diese Werte durch den Wert "Unknown" zu ersetzen.

In [43]:
combined_data['Job title'].fillna('Unknown', inplace=True)
combined_data.isnull().sum()

/var/folders/yw/h7pq8m2916x9_nlnpf_t3_jw0000gn/T/ipykernel_14656/2787563492.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_data['Job title'].fillna('Unknown', inplace=True)

ID                     0
Gender                 0
Has a car              0
Has a property         0
Children count         0
Income                 0
Employment status      0
Education level        0
Marital status         0
Dwelling               0
Age                    0
Employment length      0
Has a mobile phone     0
Has a work phone       0
Has a phone            0
Has an email           0
Job title              0
Family member count    0
Account age            0
Is high risk           0
dtype: int64

In [44]:
combined_data['Job title'].value_counts()

Job title
Unknown                  11323
Laborers                  6211
Core staff                3591
Sales staff               3485
Managers                  3012
Drivers                   2138
High skill tech staff     1383
Accountants               1241
Medicine staff            1207
Cooking staff              655
Security staff             592
Cleaning staff             551
Private service staff      344
Low-skill Laborers         175
Waiters/barmen staff       174
Secretaries                151
HR staff                    85
Realty agents               79
IT staff                    60
Name: count, dtype: int64

Nun wird für jede Spalte einzeln überprüft was für Werte in dieser Spalte vorkommen.

In [45]:
print(combined_data["Gender"].value_counts(), "\n")
print(combined_data["Has a car"].value_counts(), "\n")
print(combined_data["Has a property"].value_counts(), "\n")
print(combined_data["Children count"].value_counts(), "\n")
print(combined_data["Income"].value_counts(), "\n")
print(combined_data["Employment status"].value_counts(), "\n")
print(combined_data["Education level"].value_counts(), "\n")
print(combined_data["Marital status"].value_counts(), "\n")
print(combined_data["Dwelling"].value_counts(), "\n")
print(combined_data["Age"].value_counts(), "\n")
print(combined_data["Employment length"].value_counts(), "\n")
print(combined_data["Has a mobile phone"].value_counts(), "\n")
print(combined_data["Has a work phone"].value_counts(), "\n")
print(combined_data["Has a phone"].value_counts(), "\n")
print(combined_data["Has an email"].value_counts(), "\n")
print(combined_data["Job title"].value_counts(), "\n")
print(combined_data["Family member count"].value_counts(), "\n")
print(combined_data["Account age"].value_counts(), "\n")
print(combined_data["Is high risk"].value_counts(), "\n")

Gender
F    24430
M    12027
Name: count, dtype: int64

Has a car
N    22614
Y    13843
Name: count, dtype: int64

Has a property
Y    24506
N    11951
Name: count, dtype: int64

Children count
0     25201
1      7492
2      3256
3       419
4        63
5        20
14        3
7         2
19        1
Name: count, dtype: int64

Income
135000.0    4309
180000.0    3097
157500.0    3089
112500.0    2956
225000.0    2926
            ...
164250.0       1
432000.0       1
177750.0       1
531000.0       1
62100.0        1
Name: count, Length: 265, dtype: int64

Employment status
Working                 18819
Commercial associate     8490
Pensioner                6152
State servant            2985
Student                    11
Name: count, dtype: int64

Education level
Secondary / secondary special    24777
Higher education                  9864
Incomplete higher                 1410
Lower secondary                    374
Academic degree                     32
Name: count, dtype: int64

Marital status
Married                 25048
Single / not married     4829
Civil marriage           2945
Separated                2103
Widow                    1532
Name: count, dtype: int64

Dwelling
House / apartment      32548
With parents            1776
Municipal apartment     1128
Rented apartment         575
Office apartment         262
Co-op apartment          168
Name: count, dtype: int64

Age
-12676    54
-15519    54
-16896    38
-14667    37
-15675    32
          ..
-12366     1
-20028     1
-10471     1
-14320     1
-9115      1
Name: count, Length: 7183, dtype: int64

Employment length
 365243    6135
-401         78
-1539        64
-200         63
-2087        61
           ...
-9527         1
-106          1
-989          1
-4091         1
-2834         1
Name: count, Length: 3640, dtype: int64

Has a mobile phone
1    36457
Name: count, dtype: int64

Has a work phone
0    28235
1     8222
Name: count, dtype: int64

Has a phone
0    25709
1    10748
Name: count, dtype: int64

Has an email
0    33186
1     3271
Name: count, dtype: int64

Job title
Unknown                  11323
Laborers                  6211
Core staff                3591
Sales staff               3485
Managers                  3012
Drivers                   2138
High skill tech staff     1383
Accountants               1241
Medicine staff            1207
Cooking staff              655
Security staff             592
Cleaning staff             551
Private service staff      344
Low-skill Laborers         175
Waiters/barmen staff       174
Secretaries                151
HR staff                    85
Realty agents               79
IT staff                    60
Name: count, dtype: int64

Family member count
2.0     19463
1.0      6987
3.0      6421
4.0      3106
5.0       397
6.0        58
7.0        19
15.0        3
9.0         2
20.0        1
Name: count, dtype: int64

Account age
-7.0     889
-11.0    828
-6.0     824
-8.0     820
-5.0     816
        ...
-58.0    333
-60.0    321
 0.0     315
-59.0    307
-57.0    304
Name: count, Length: 61, dtype: int64

Is high risk
0    35841
1      616
Name: count, dtype: int64

Basierend auf diesen Erkenntnissen können wir nun entscheiden, wie wir die verschiedenen Spalten im Datensatz behandeln. Ich habe mich entschieden, für die kategorischen Spalten (```Job title```, ```Employment status```, ```Education level```, ```Marital status``` und ```Dwelling```) ein One-Hot-Encoding zu verwenden und die binären Spalten einfach auf numerische Werte abzubilden (```Gender```, ```Has a car``` und ```Has a property```). Diese Umwandlugen werden in der `data_preprocessing` Funktion abgebildet.

In [46]:
def data_preprocessing(data):
    data = data.drop(columns=["ID", "Has a mobile phone"])
    data = data.dropna()
    data = data.reset_index(drop=True)
    data = pd.get_dummies(data, columns=["Job title", "Employment status", "Education level", "Marital status", "Dwelling"], drop_first=True)
    data["Gender"] = data["Gender"].map({"M": 0, "F": 1})
    data["Has a car"] = data["Has a car"].map({"N": 0, "Y": 1})
    data["Has a property"] = data["Has a property"].map({"N": 0, "Y": 1})
    bool_columns = data.select_dtypes(include='bool').columns
    data[bool_columns] = data[bool_columns].astype(int)
    return data

Diese `data_preprocessing` Funktion wird nun auf den kombinierten Dataframe angewendet.

In [47]:
data = data_preprocessing(combined_data)
data.shape

(36457, 48)

## Ausbalancierung der Daten

Dieser Abschnitt dient dazu, dass die Daten für das Training des Modells ausbalanciert sind, um biases zu vermeiden.

Dazu wird zunächst überprüft, ob die Zielwerte gleichmäßig verteilt sind. Dabei fällt auf, dass es wesentlich weniger Kunden gibt die als "high risk" eingestuft werden.

In [48]:
data["Is high risk"].value_counts()

Is high risk
0    35841
1      616
Name: count, dtype: int64

Aus diesem Grund fiel die Entscheidung darauf die sogenannte Synthetic Minority Oversampling Technique (SMOTE) zu verwenden, um die Daten auszubalancieren. Dabei wird zunächst der Datensatz in Trainings-, Test- und Validierungsdaten unterteilt. Dies wird getan, um sicherzustellen, dass keine Daten aus den Test- und Validierungsdaten in die Trainingsdaten gelangen. Somit kann sichergestellt werden, dass die Testdaten nur zuvor ungesehene Daten enthalten.

In [49]:
train, test_rf = train_test_split(data, test_size=0.3, stratify=data["Is high risk"], random_state=42)
test, val = train_test_split(test_rf, test_size=0.5, stratify=test_rf["Is high risk"], random_state=42)

In [50]:
train["Is high risk"].value_counts(), test["Is high risk"].value_counts(), val["Is high risk"].value_counts()

(Is high risk
 0    25088
 1      431
 Name: count, dtype: int64,
 Is high risk
 0    5377
 1      92
 Name: count, dtype: int64,
 Is high risk
 0    5376
 1      93
 Name: count, dtype: int64)

Wir verwenden SMOTE nur für den Trainings- und den Validierungsdatensatz. Wir tun dies, weil wir so das Modell auf einem ausbalancierten Datensatz trainieren können und testen können, ob das Modell in der Lage ist, auf ungesehene Daten zu generalisieren, die die Verteilung des ursprünglichen Datensatzes enthalten, also die natürliche Verteilung der Daten.

In [51]:
X_train = train.drop("Is high risk", axis=1)
Y_train = train["Is high risk"]

X_val = val.drop("Is high risk", axis=1)
Y_val = val["Is high risk"]

In [52]:
smote = SMOTE(random_state=42)
X_train, Y_train = smote.fit_resample(X_train, Y_train)
X_val, Y_val = smote.fit_resample(X_val, Y_val)

Anschließend werden die Datensätze wieder mit ihren Zielwerten zusammengeführt.

In [53]:
train = pd.concat([X_train, Y_train], axis=1)
val = pd.concat([X_val, Y_val], axis=1)

train["Is high risk"].value_counts(), val["Is high risk"].value_counts()

(Is high risk
 0    25088
 1    25088
 Name: count, dtype: int64,
 Is high risk
 0    5376
 1    5376
 Name: count, dtype: int64)

Abschließend werden die hierbei entstandenen Datensätze abgespeichert um sie im Training nutzen zu können.

In [54]:
if not os.path.exists('../data/preprocessed'):
    os.makedirs('../data/preprocessed')

if os.path.exists('../data/preprocessed/all_data.csv'):
    os.remove('../data/preprocessed/all_data.csv')
if os.path.exists('../data/preprocessed/test_data.csv'):
    os.remove('../data/preprocessed/test_data.csv')
if os.path.exists('../data/preprocessed/val_data.csv'):
    os.remove('../data/preprocessed/val_data.csv')
if os.path.exists('../data/preprocessed/train_data.csv'):
    os.remove('../data/preprocessed/train_data.csv')
if os.path.exists('../data/preprocessed/test_data_rf.csv'):
    os.remove('../data/preprocessed/test_data_rf.csv')


data.to_csv('../data/preprocessed/all_data.csv', index=False)
test.to_csv('../data/preprocessed/test_data.csv', index=False)
val.to_csv('../data/preprocessed/val_data.csv', index=False)
train.to_csv('../data/preprocessed/train_data.csv', index=False)
test_rf.to_csv('../data/preprocessed/test_data_rf.csv', index=False)