In [527]:
import pandas as pd
import os

In [528]:
train_data = pd.read_csv('../data/train_data.csv')
test_data = pd.read_csv('../data/test_data.csv')

train_data.head()

,ID,Gender,Has a car,Has a property,Children count,Income,Employment status,Education level,Marital status,Dwelling,Age,Employment length,Has a mobile phone,Has a work phone,Has a phone,Has an email,Job title,Family member count,Account age,Is high risk
0,5037048,M,Y,Y,0,135000.0,Working,Secondary / secondary special,Married,With parents,-16271,-3111,1,0,0,0,Core staff,2.0,-17.0,0
1,5044630,F,Y,N,1,135000.0,Commercial associate,Higher education,Single / not married,House / apartment,-10130,-1651,1,0,0,0,Accountants,2.0,-1.0,0
2,5079079,F,N,Y,2,180000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-12821,-5657,1,0,0,0,Laborers,4.0,-38.0,0
3,5112872,F,Y,Y,0,360000.0,Commercial associate,Higher education,Single / not married,House / apartment,-20929,-2046,1,0,0,1,Managers,1.0,-11.0,0
4,5105858,F,N,N,0,270000.0,Working,Secondary / secondary special,Separated,House / apartment,-16207,-515,1,0,1,0,NaN,1.0,-41.0,0

In [529]:
# list all columns of train_data
train_data.columns

Index(['ID', 'Gender', 'Has a car', 'Has a property', 'Children count',
       'Income', 'Employment status', 'Education level', 'Marital status',
       'Dwelling', 'Age', 'Employment length', 'Has a mobile phone',
       'Has a work phone', 'Has a phone', 'Has an email', 'Job title',
       'Family member count', 'Account age', 'Is high risk'],
      dtype='object')

In [530]:
train_data.isnull().sum()

ID                        0
Gender                    0
Has a car                 0
Has a property            0
Children count            0
Income                    0
Employment status         0
Education level           0
Marital status            0
Dwelling                  0
Age                       0
Employment length         0
Has a mobile phone        0
Has a work phone          0
Has a phone               0
Has an email              0
Job title              9027
Family member count       0
Account age               0
Is high risk              0
dtype: int64

In [531]:
train_data.describe()

,ID,Children count,Income,Age,Employment length,Has a mobile phone,Has a work phone,Has a phone,Has an email,Family member count,Account age,Is high risk
count,2.916500e+04,29165.000000,2.916500e+04,29165.000000,29165.000000,29165.0,29165.000000,29165.000000,29165.000000,29165.000000,29165.000000,29165.000000
mean,5.078232e+06,0.430790,1.868904e+05,-15979.477490,59257.761255,1.0,0.224310,0.294977,0.090279,2.197531,-26.137734,0.017110
std,4.182400e+04,0.741882,1.014096e+05,4202.997485,137655.883458,0.0,0.417134,0.456040,0.286587,0.912189,16.486702,0.129682
min,5.008804e+06,0.000000,2.700000e+04,-25152.000000,-15713.000000,1.0,0.000000,0.000000,0.000000,1.000000,-60.000000,0.000000
25%,5.042047e+06,0.000000,1.215000e+05,-19444.000000,-3153.000000,1.0,0.000000,0.000000,0.000000,2.000000,-39.000000,0.000000
50%,5.074666e+06,0.000000,1.575000e+05,-15565.000000,-1557.000000,1.0,0.000000,0.000000,0.000000,2.000000,-24.000000,0.000000
75%,5.114629e+06,1.000000,2.250000e+05,-12475.000000,-412.000000,1.0,0.000000,1.000000,0.000000,3.000000,-12.000000,0.000000
max,5.150485e+06,19.000000,1.575000e+06,-7705.000000,365243.000000,1.0,1.000000,1.000000,1.000000,20.000000,0.000000,1.000000

In [532]:
train_data["Gender"].value_counts()

Gender
F    19549
M     9616
Name: count, dtype: int64

In [533]:
train_data["Has a car"].value_counts()

Has a car
N    18128
Y    11037
Name: count, dtype: int64

In [534]:
train_data["Has a property"].value_counts()

Has a property
Y    19557
N     9608
Name: count, dtype: int64

In [535]:
train_data["Children count"].value_counts()

Children count
0     20143
1      6003
2      2624
3       323
4        52
5        15
7         2
14        2
19        1
Name: count, dtype: int64

In [536]:
train_data["Income"].value_counts()

Income
135000.0    3468
180000.0    2487
157500.0    2469
225000.0    2373
112500.0    2359
            ...
164250.0       1
42300.0        1
432000.0       1
145350.0       1
82350.0        1
Name: count, Length: 259, dtype: int64

In [537]:
train_data["Employment status"].value_counts()

Employment status
Working                 15056
Commercial associate     6801
Pensioner                4920
State servant            2381
Student                     7
Name: count, dtype: int64

In [538]:
train_data["Education level"].value_counts()

Education level
Secondary / secondary special    19803
Higher education                  7910
Incomplete higher                 1129
Lower secondary                    298
Academic degree                     25
Name: count, dtype: int64

In [539]:
train_data["Marital status"].value_counts()

Marital status
Married                 20044
Single / not married     3864
Civil marriage           2312
Separated                1712
Widow                    1233
Name: count, dtype: int64

In [540]:
train_data["Dwelling"].value_counts()

Dwelling
House / apartment      26059
With parents            1406
Municipal apartment      912
Rented apartment         453
Office apartment         208
Co-op apartment          127
Name: count, dtype: int64

In [541]:
train_data["Age"].value_counts()

Age
-12676    44
-15519    44
-16896    33
-16053    26
-16768    26
          ..
-18253     1
-23429     1
-15478     1
-21648     1
-19564     1
Name: count, Length: 6794, dtype: int64

In [542]:
train_data["Employment length"].value_counts()

Employment length
 365243    4908
-401         61
-200         55
-2087        53
-1539        51
           ...
-8369         1
-6288         1
-6303         1
-3065         1
-8256         1
Name: count, Length: 3483, dtype: int64

In [543]:
train_data["Has a mobile phone"].value_counts()

Has a mobile phone
1    29165
Name: count, dtype: int64

In [544]:
train_data["Has a work phone"].value_counts()

Has a work phone
0    22623
1     6542
Name: count, dtype: int64

In [545]:
train_data["Has a phone"].value_counts()

Has a phone
0    20562
1     8603
Name: count, dtype: int64

In [546]:
train_data["Has an email"].value_counts()

Has an email
0    26532
1     2633
Name: count, dtype: int64

In [547]:
train_data["Job title"].value_counts()

Job title
Laborers                 5004
Core staff               2866
Sales staff              2773
Managers                 2422
Drivers                  1722
High skill tech staff    1133
Accountants               998
Medicine staff            956
Cooking staff             521
Security staff            464
Cleaning staff            425
Private service staff     287
Low-skill Laborers        138
Waiters/barmen staff      127
Secretaries               122
HR staff                   72
Realty agents              60
IT staff                   48
Name: count, dtype: int64

In [548]:
train_data["Family member count"].value_counts()

Family member count
2.0     15552
1.0      5613
3.0      5121
4.0      2503
5.0       309
6.0        48
7.0        14
9.0         2
15.0        2
20.0        1
Name: count, dtype: int64

In [549]:
train_data["Account age"].value_counts()

Account age
-7.0     690
-6.0     669
-17.0    659
-5.0     656
-8.0     655
        ...
-58.0    270
-59.0    250
-60.0    249
 0.0     247
-57.0    244
Name: count, Length: 61, dtype: int64

In [550]:
train_data["Is high risk"].value_counts()

Is high risk
0    28666
1      499
Name: count, dtype: int64

In [551]:
def data_preprocessing(data):
    # data["Job title"] = data["Job title"].map({"Laborers": 0, "Core staff": 1, "Sales staff": 2, "Managers": 3, "Drivers": 4, "High skill tech staff": 5, "Accountants": 6, "Medicine staff": 7, "Cooking staff": 8, "Security staff": 9, "Cleaning staff": 10, "Private service staff": 11, "Low-skill Laborers": 12, "Waiters/barmen staff": 13, "Secretaries": 14, "HR staff": 15, "Reality agents": 16, "IT staff": 17})
    data = data.drop(columns=['ID'])
    data = data.dropna()
    data = data.drop_duplicates()
    data = data.reset_index(drop=True)
    data = pd.get_dummies(data, columns=["Employment status", "Education level", "Marital status", "Dwelling"])
    data["Gender"] = data["Gender"].map({"M": 0, "F": 1})
    data["Has a car"] = data["Has a car"].map({"N": 0, "Y": 1})
    data["Has a property"] = data["Has a property"].map({"N": 0, "Y": 1})
    bool_columns = data.select_dtypes(include='bool').columns
    data[bool_columns] = data[bool_columns].astype(int)
    return data

In [552]:
train = data_preprocessing(train_data)
test = data_preprocessing(test_data)

In [553]:
train.isnull().sum()

Gender                                           0
Has a car                                        0
Has a property                                   0
Children count                                   0
Income                                           0
Age                                              0
Employment length                                0
Has a mobile phone                               0
Has a work phone                                 0
Has a phone                                      0
Has an email                                     0
Job title                                        0
Family member count                              0
Account age                                      0
Is high risk                                     0
Employment status_Commercial associate           0
Employment status_Pensioner                      0
Employment status_State servant                  0
Employment status_Student                        0
Employment status_Working                        0
Education level_Academic degree                  0
Education level_Higher education                 0
Education level_Incomplete higher                0
Education level_Lower secondary                  0
Education level_Secondary / secondary special    0
Marital status_Civil marriage                    0
Marital status_Married                           0
Marital status_Separated                         0
Marital status_Single / not married              0
Marital status_Widow                             0
Dwelling_Co-op apartment                         0
Dwelling_House / apartment                       0
Dwelling_Municipal apartment                     0
Dwelling_Office apartment                        0
Dwelling_Rented apartment                        0
Dwelling_With parents                            0
dtype: int64

In [554]:
test.isnull().sum()

Gender                                           0
Has a car                                        0
Has a property                                   0
Children count                                   0
Income                                           0
Age                                              0
Employment length                                0
Has a mobile phone                               0
Has a work phone                                 0
Has a phone                                      0
Has an email                                     0
Job title                                        0
Family member count                              0
Account age                                      0
Is high risk                                     0
Employment status_Commercial associate           0
Employment status_Pensioner                      0
Employment status_State servant                  0
Employment status_Student                        0
Employment status_Working                        0
Education level_Academic degree                  0
Education level_Higher education                 0
Education level_Incomplete higher                0
Education level_Lower secondary                  0
Education level_Secondary / secondary special    0
Marital status_Civil marriage                    0
Marital status_Married                           0
Marital status_Separated                         0
Marital status_Single / not married              0
Marital status_Widow                             0
Dwelling_Co-op apartment                         0
Dwelling_House / apartment                       0
Dwelling_Municipal apartment                     0
Dwelling_Office apartment                        0
Dwelling_Rented apartment                        0
Dwelling_With parents                            0
dtype: int64

In [555]:
if not os.path.exists('../data/preprocessed'):
    os.makedirs('../data/preprocessed')

train.to_csv('../data/preprocessed/train_data.csv', index=False)
test.to_csv('../data/preprocessed/test_data.csv', index=False)